<footer class="border-top footer-color text-muted mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-12 text-light">
                <div class="d-inline-block">
                    Copyright&copy; SoftCell System
                    <img src="Images/logo/Logo16.png" /> 1993 - @DateTime.Now.Year All Rights Reserved
                </div>
                <div class="d-inline-block mb-5 pb-5">
                    <img src="Images/footer/ico_phone.png" /> <span class="ml-2">+48 000 000 000</span>
                </div>
                <div class="d-inline-block mb-5 pb-5">
                    <a href="mailto:support@email.pl">
                        <img src="Images/footer/ico_email.png" />
                        <span class="mb-2">support@email.pl</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>