<nav class="navbar navbar-dark navbar-expand-md header-color w-100">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="Images/logo.png" />
        </a>
        <div id="navbar" class="collapse navbar-collapse">
@*             <ul class="navbar-nav me-auto">
                <li class="nav-item"><a href="#" class="nav-link">Zaloguj</a></li>
            </ul> *@
        </div>
    </div>
</nav>