@import url('open.iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.button-link {
    text-decoration: unset;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.footer-color {
    margin: 0;
    padding: 0;
    line-height: 50px;
    background-color: #343A40;
    height: 50px;
}

.header-color {
    background-color: #013473 !important;
    color: white !important;
}

.menu-color {
    background-color: #00194F !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-sidebar {
    min-width: 36px;
    padding: 10px 5px 0 5px;
    height: 100%;
    background-color: #343A40;
}

.h-100 {
    height: 100%;
}

.method-get {
    border-radius: 5px;
    background: #61AFFE;
    padding: 3px 0 0 5px;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
}

.method-post {
    border-radius: 5px;
    background: #49CC90;
    padding: 3px 0 0 5px;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
}

.method-put {
    border-radius: 5px;
    background: #FCA130;
    padding: 3px 0 0 5px;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
}

.method-delete {
    border-radius: 5px;
    background: #F93E3E;
    padding: 3px 0 0 5px;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
}

.method-error {
    border-radius: 5px;
    background: #838996;
    padding: 3px 0 0 5px;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
}

.kind-identical {
    border-radius: 5px;
    background: #B8B8B8;
    padding: 5px 0 0 5px;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
}

.kind-added {
    border-radius: 5px;
    background: #86EBA4;
    padding: 5px 0 0 5px;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
}

.kind-deleted {
    border-radius: 5px;
    background: #EB6E65;
    padding: 5px 0 0 5px;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
}