@rendermode RenderMode.InteractiveServer

<div class="row vh-100 w-100">
    <div class="col-12">
        <img class="img-fluid mx-auto d-block" src="@link" />
    </div>
</div>

@code {
    [Parameter]
    public string link { get; set; }


}
