@page "/hd/delete/{ID:int}"

@rendermode RenderMode.InteractiveServer

@inject HttpClient _httpClient;

<h3>Delete</h3>

@code {
    [Parameter]
    public int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }
}
