@using Microsoft.FluentUI.AspNetCore.Components

<nav class="navbar navbar-dark navbar-expand-md w-100">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-10">
                <a class="navbar-brand" href="/">
                    <img src="Images/logo.png" />
                </a>
            </div>
            <div class="col-2">               
                <div id="navbar" class="collapse navbar-collapse float-end pt-1">
                    <div class="float-end">
                        <img id="ticket" src="images\header\ticket-24.png" />
                    </div>
                    <div class="float-end ms-2">
                        <img id="quick" src="images\header\quick-24.png" />
                    </div>
                    <div class="float-end ms-2">
                        <img id="clock" src="images\header\clock-24.png" />
                    </div>
                    <div class="float-end ms-2">
                        <img id="alarm" src="images\header\alarm-24.png" />
                    </div>
                    <div class="float-end ms-2">
                        <img id="settings" src="images\header\settings-24.png" />
                    </div>
                    <div class="float-end ms-5">
                        <img id="settings" src="images\user.png" width="32px" height="32px" class="rounded-circle" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>